<p>Hi there!</p>

<p>You just received a drawing from Night Zookeeper.</p>

<p><%=link_to "Your drawing", @user.drawings.last.image['url'] %></p>

<p>If you want to know more about Night Zookeeper, visit our <%=link_to "website", "http://nightzookeeper.com/project" %></p>