<p>Hi there!</p>

<p>You just received a drawing from Night Zookeeper.</p>

<p><%=link_to "Drawing", @user.drawings.last.image.url %></p>

<p>Here's your login: <%= @user.username %>. You can change it when logging in through the website.</p>